@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Manage")">
                    <i class="far fa-user-circle"></i> Hola @ViewBag.NombreUsuario!
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            @Html.ActionLink("📝 Registrarse", "Register", "Account", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("🔑 Iniciar sesión", "Login", "Account", null, new { @class = "nav-link" })
        </li>
    </ul>
}

