@model SC_601_PA_G5_M.Models.Taller.CitaTaller

@{
    ViewBag.Title = "Crear Cita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agendar Cita</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal mt-2">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*<div class="form-group">
            <i class="fa-regular fa-user"></i> @Html.LabelFor(model => model.UsuarioId, "UsuarioId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UsuarioId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UsuarioId, "", new { @class = "text-danger" })
            </div>
        </div*@

    <div class="form-group mt-2">
        <i class="fa-regular fa-calendar"></i> @Html.LabelFor(model => model.FechaCita, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaCita, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })
            @Html.ValidationMessageFor(model => model.FechaCita, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-2">
        <i class="fa-regular fa-comments"></i> @Html.LabelFor(model => model.DescripcionServicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DescripcionServicio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DescripcionServicio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-2">
        <i class="fa-regular fa-comment"></i> @Html.LabelFor(model => model.EstadoCita, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EstadoCita, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EstadoCita, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Agendar" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div class="mt-2">
    @Html.ActionLink("Volver a la lista", "Index", null, new {@class = "btn btn-secondary"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
