@model SC_601_PA_G5_M.Models.DetallePedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetallePedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.EstadoPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.EstadoPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDetallePedidop }) |
    @Html.ActionLink("Back to List", "Index")
</p>
