@model SC_601_PA_G5_M.Models.Ventas.Producto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Producto</h2>

<h3>¿Estás seguro que deseas eliminar el producto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencias)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary"})
        </div>
    }
</div>
