@model SC_601_PA_G5_M.Models.Ventas.Producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles Producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencias)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProducto }, new { @class = "btn btn-primary"}) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary"})
</p>
