@model IEnumerable<SC_601_PA_G5_M.Models.Ventas.Producto>

@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tabla-blanca th,
    .tabla-blanca td,
    .tabla-blanca a,
    .tabla-blanca i {
        color: white !important;
    }

    .tabla-blanca {
        background-color: transparent; /* o un fondo oscuro si lo deseas */
    }

        .tabla-blanca th {
            border-bottom: 1px solid #ccc;
        }

        .tabla-blanca td {
            border-top: 1px solid #444;
        }
</style>

<h2>Productos Taller</h2>

<p>
    @Html.ActionLink("Agregar Producto", "Create", null, new { @class = "btn btn-primary"})
</p>
<table class="table tabla-blanca">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencias)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Existencias)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdProducto }, new { @class = "btn btn-info"}) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdProducto }, new { @class = "btn btn-dark" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdProducto }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
